all:
  hosts:
    mertcis:
      ansible_host: YOUR_TARGET_IP_HERE          # Change this
      ansible_port: 22
      ansible_user: YOUR_SSH_USERNAME_HERE       # Change this
      ansible_ssh_private_key_file: ~/.ssh/YOUR_KEY_HERE  # Change this
      ansible_ssh_common_args: '-o StrictHostKeyChecking=no'
      ansible_become: true
      ansible_become_method: sudo
      ansible_become_password: YOUR_SUDO_PASSWORD_HERE    # Change this

