- name: Proven Remediations - 20260219_031209
  hosts: all
  become: true
  vars:
    ansible_python_interpreter: /usr/bin/python3
    ansible_become: true
  tasks:
  - name: Execute remediation for openscap_012 - Successfully remediated (attempt
      1)
    become: true
    shell:
      cmd: sed -i 's/difok = 0/difok = 8/' /etc/security/pwquality.conf
      executable: /bin/bash
    when: inventory_hostname == 'localhost'
    tags:
    - vuln_openscap_012
  - name: Execute remediation for openscap_012 - Successfully remediated (attempt
      1)
    become: true
    shell:
      cmd: grep -F 'difok = 8' /etc/security/pwquality.conf
      executable: /bin/bash
    when: inventory_hostname == 'localhost'
    tags:
    - vuln_openscap_012
  - name: Execute remediation for openscap_014 - Successfully remediated (attempt
      1)
    become: true
    shell:
      cmd: ls -la /etc/security/pwquality.conf.d
      executable: /bin/bash
    when: inventory_hostname == 'localhost'
    tags:
    - vuln_openscap_014
  - name: Execute remediation for openscap_014 - Successfully remediated (attempt
      1)
    become: true
    shell:
      cmd: sed -i "s/^maxclassrepeat *=.*/maxclassrepeat = 1/" /etc/security/pwquality.conf
      executable: /bin/bash
    when: inventory_hostname == 'localhost'
    tags:
    - vuln_openscap_014
  - name: Execute remediation for openscap_015 - Successfully remediated (attempt
      1)
    become: true
    shell:
      cmd: sed -i 's/^minclass\s*=.*/minclass = 4/' /etc/security/pwquality.conf
      executable: /bin/bash
    when: inventory_hostname == 'localhost'
    tags:
    - vuln_openscap_015
  - name: Execute remediation for openscap_017 - Successfully remediated (attempt
      1)
    become: true
    shell:
      cmd: sed -i 's/^[[:space:]]*ucredit[[:space:]]*.*/ucredit = -1/' /etc/security/pwquality.conf
      executable: /bin/bash
    when: inventory_hostname == 'localhost'
    tags:
    - vuln_openscap_017
  - name: Execute remediation for openscap_025 - Successfully remediated (attempt
      1)
    become: true
    shell:
      cmd: sed -i 's/^pool 2.rocky.pool.ntp.org/#pool 2.rocky.pool.ntp.org/' /etc/chrony.conf
      executable: /bin/bash
    when: inventory_hostname == 'localhost'
    tags:
    - vuln_openscap_025
  - name: Execute remediation for openscap_025 - Successfully remediated (attempt
      1)
    become: true
    shell:
      cmd: grep -E '^pool' /etc/chrony.conf
      executable: /bin/bash
    when: inventory_hostname == 'localhost'
    tags:
    - vuln_openscap_025
  - name: Add configuration to /etc/chrony.conf
    become: true
    lineinfile:
      path: /etc/chrony.conf
      line: server 127.0.0.1 iburst
      create: true
    when: inventory_hostname == 'localhost'
    tags:
    - vuln_openscap_025
  - name: Execute remediation for openscap_025 - Successfully remediated (attempt
      1)
    become: true
    shell:
      cmd: grep -E '^pool' /etc/chrony.conf
      executable: /bin/bash
    when: inventory_hostname == 'localhost'
    tags:
    - vuln_openscap_025
